.canvas-container {
  touch-action: none;
  outline: none;
}

.canvas-container.panning,
.canvas-container.panning .upper-canvas {
  cursor: grabbing !important;
}

canvas {
  display: block;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.context-toolbar {
  z-index: 1000;
  pointer-events: auto;
}
