<div class="editor-layout flex flex-column h-screen overflow-hidden">
  <app-editor-toolbar
    (save)="onSave()"
    (rotateCanvasLeft)="onRotateCanvasLeft()"
    (rotateCanvasRight)="onRotateCanvasRight()"
  >
    <p-button
      [label]="showDxf() ? 'Wróć do Edytora' : 'Import Podkładu'"
      [icon]="showDxf() ? 'pi pi-arrow-left' : 'pi pi-file-import'"
      [severity]="showDxf() ? 'warn' : 'primary'"
      [outlined]="true"
      (click)="toggleView()"
    ></p-button>
  </app-editor-toolbar>

  <div class="flex-grow-1 relative overflow-hidden bg-50">
    @if (showDxf()) {
      <app-floor-plan-dxf-viewer
        class="dxf-viewer-full w-full h-full block"
        [geoJsonPath]="geoJsonPath() || ''"
        (slabSelected)="onSlabSelected($event)"
      ></app-floor-plan-dxf-viewer>
    }

    <!-- Editor Canvas -->
    <div
      class="editor-page__container w-full h-full relative"
      [class.editor-page__hidden]="showDxf()"
    >
      <app-editor-canvas #editorCanvas></app-editor-canvas>
      <app-editor-sidebar
        class="editor-page__properties-panel shadow-2"
      ></app-editor-sidebar>
    </div>
  </div>
</div>
<p-toast></p-toast>
