@use "@angular/material" as mat;

// Definicja palet
$primary-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$accent-palette: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// Konfiguracja motywu
$szalunki-primary: mat.m2-define-palette($primary-palette);
$szalunki-accent: mat.m2-define-palette($accent-palette);
$szalunki-warn: mat.m2-define-palette(mat.$m2-red-palette);

$szalunki-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $szalunki-primary,
      accent: $szalunki-accent,
      warn: $szalunki-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Expose theme for usage in styles.scss
html {
  @include mat.all-component-themes($szalunki-theme);
  @include mat.core();
}
